<div class='container nav'>
  <nav><a href="/posts/new">New Post</a></nav>
</div>

<div class="container categories">
  <p>Posting Categories:</p>
  <%@all_cats.each do |cat|%>
  <%id = cat.id%>
  <li><a href="/categories/<%=cat.id%>"><%=cat.name%></a></li>
  <%end%>
</div>
