<div class="container">
  <h1>Thank you for posting!</h1>
  <h3>Please go to the following link to edit your posting.</h3>
  <p><a href="/posts/<%=@id%>/edit/<%=@key%>">http://localhost:9393/posts/<%=@id%>/edit/<%=@key%></a></p>
</div>
